## Acelera Dev
### Semana 02

In [1]:
import pandas as pd
import numpy as np

pd?

In [2]:
#criação do dicionário
dados = {
        'canal de vendas':['facebook', 'twitter','instagram','gmail'],
        'acessos':[100,200,300,400],
        'site': ['site1','site2','site3','site4'],
        'vendas':[50,20,30,44]   
}

In [3]:
dados

{'canal de vendas': ['facebook', 'twitter', 'instagram', 'gmail'],
 'acessos': [100, 200, 300, 400],
 'site': ['site1', 'site2', 'site3', 'site4'],
 'vendas': [50, 20, 30, 44]}

In [4]:
#tipo de dados
type(dados)

dict

In [5]:
print(f'Printando items : {dados.items()}')
print(f'Printando chaves : {dados.keys()}')
print(f'Printando valores : {dados.values()}')

Printando items : dict_items([('canal de vendas', ['facebook', 'twitter', 'instagram', 'gmail']), ('acessos', [100, 200, 300, 400]), ('site', ['site1', 'site2', 'site3', 'site4']), ('vendas', [50, 20, 30, 44])])
Printando chaves : dict_keys(['canal de vendas', 'acessos', 'site', 'vendas'])
Printando valores : dict_values([['facebook', 'twitter', 'instagram', 'gmail'], [100, 200, 300, 400], ['site1', 'site2', 'site3', 'site4'], [50, 20, 30, 44]])

In [6]:
#acessos aos itens
dados['canal de vendas'][:2]

['facebook', 'twitter']

In [7]:
dados['novos_itens'] = ['123',123, 'zzzz','xxx']

## DataFrames

In [8]:
df = pd.DataFrame(dados)

In [9]:
df.head()

  canal de vendas  acessos   site  vendas novos_itens
0        facebook      100  site1      50         123
1         twitter      200  site2      20         123
2       instagram      300  site3      30        zzzz
3           gmail      400  site4      44         xxx

In [10]:
## Corpo do dataframe
df.shape

(4, 5)

In [11]:
# verificando index
df.index

RangeIndex(start=0, stop=4, step=1)

In [12]:
#verificando os tipos de variáveis
df.dtypes

canal de vendas    object
acessos             int64
site               object
vendas              int64
novos_itens        object
dtype: object

In [13]:
#Contando o tipo das colunas
df.dtypes.value_counts()

object    3
int64     2
dtype: int64

In [14]:
#verificando as colunas
df.columns

Index(['canal de vendas', 'acessos', 'site', 'vendas', 'novos_itens'], dtype='object')

In [15]:
#verificando valores nulos
df.isna()

   canal de vendas  acessos   site  vendas  novos_itens
0            False    False  False   False        False
1            False    False  False   False        False
2            False    False  False   False        False
3            False    False  False   False        False

In [16]:
df['nova_col'] = [1,2,3,5]

In [17]:
# estatística descritiva das variáveis númericas
np.around(df.describe(),decimals=0)

       acessos  vendas  nova_col
count      4.0     4.0       4.0
mean     250.0    36.0       3.0
std      129.0    14.0       2.0
min      100.0    20.0       1.0
25%      175.0    28.0       2.0
50%      250.0    37.0       2.0
75%      325.0    46.0       4.0
max      400.0    50.0       5.0

In [18]:
df.drop(['nova_col'],axis=1, inplace =True)

In [19]:
df.head()

  canal de vendas  acessos   site  vendas novos_itens
0        facebook      100  site1      50         123
1         twitter      200  site2      20         123
2       instagram      300  site3      30        zzzz
3           gmail      400  site4      44         xxx

In [20]:
## Exibindo numero de linhas
df.iloc[:2]

  canal de vendas  acessos   site  vendas novos_itens
0        facebook      100  site1      50         123
1         twitter      200  site2      20         123

In [21]:
#exibindo o índice X
df.loc[2]

canal de vendas    instagram
acessos                  300
site                   site3
vendas                    30
novos_itens             zzzz
Name: 2, dtype: object

In [22]:
# Filtrando linhas
df[df['acessos'] > np.mean(df['acessos'])]

  canal de vendas  acessos   site  vendas novos_itens
2       instagram      300  site3      30        zzzz
3           gmail      400  site4      44         xxx

In [24]:
##pivot
df.pivot(index='canal de vendas', columns='site' , values='acessos')

site             site1  site2  site3  site4
canal de vendas
facebook         100.0    NaN    NaN    NaN
gmail              NaN    NaN    NaN  400.0
instagram          NaN    NaN  300.0    NaN
twitter            NaN  200.0    NaN    NaN

In [26]:
# Mudar colunas usando Melt
df.melt(id_vars='canal de vendas', value_vars=['site','acessos'])

  canal de vendas variable  value
0        facebook     site  site1
1         twitter     site  site2
2       instagram     site  site3
3           gmail     site  site4
4        facebook  acessos    100
5         twitter  acessos    200
6       instagram  acessos    300
7           gmail  acessos    400

In [27]:
df.head()

  canal de vendas  acessos   site  vendas novos_itens
0        facebook      100  site1      50         123
1         twitter      200  site2      20         123
2       instagram      300  site3      30        zzzz
3           gmail      400  site4      44         xxx

In [28]:
#Soma valores numeros e concatenas literais
df.sum()

canal de vendas    facebooktwitterinstagramgmail
acessos                                     1000
site                        site1site2site3site4
vendas                                       144
dtype: object

In [29]:
#Soma horizontal, mesma forma para mediana
df.sum(axis=1)

0    150
1    220
2    330
3    444
dtype: int64

In [31]:
#Números unicos
df.nunique()

canal de vendas    4
acessos            4
site               4
vendas             4
novos_itens        4
dtype: int64

In [32]:
df['canal de vendas'].value_counts()

facebook     1
twitter      1
gmail        1
instagram    1
Name: canal de vendas, dtype: int64

In [34]:
df.groupby('site')['acessos'].sum()

site
site1    100
site2    200
site3    300
site4    400
Name: acessos, dtype: int64

In [37]:
df.groupby('canal de vendas').agg({'site':'unique','acessos':'sum'})

                    site  acessos
canal de vendas
facebook         [site1]      100
gmail            [site4]      400
instagram        [site3]      300
twitter          [site2]      200

In [38]:
##Correlação das variáveis númericas
df.corr()

          acessos    vendas
acessos  1.000000 -0.076139
vendas  -0.076139  1.000000

In [43]:
df['categoria_vendas'] = pd.cut(
                                df.acessos,
                                bins=(0,100,300,df.acessos.max()),
                                labels=('0 a 100','100 a 300', '>300')
                               )

In [44]:
df.head()

  canal de vendas  acessos   site  vendas novos_itens categoria_vendas
0        facebook      100  site1      50         123          0 a 100
1         twitter      200  site2      20         123        100 a 300
2       instagram      300  site3      30        zzzz        100 a 300
3           gmail      400  site4      44         xxx             >300